version: '3.8'
services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube_lab6
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    networks:
      - sonar_net

networks:
  sonar_net:

volumes:
  sonar_data:
  sonar_extensions:
  sonar_logs:

